@model List<JournalToDoMix.Models.Action>

@{
    ViewData["Title"] = "Actions";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Description)</th>
            <th>@Html.DisplayNameFor(model => model.First().IsCompleted)</th>
            <th>@Html.DisplayNameFor(model => model.First().StartedAt)</th>
            <th>@Html.DisplayNameFor(model => model.First().DurationPlanned)</th>
        </tr>
        @foreach(var action in Model)
        {
            <tr>
                <td>@action.Title</td>
                <td>@action.Description</td>
                <td>@action.IsCompleted</td>
                <td>@action.StartedAt</td>
                <td>@action.DurationPlanned</td>
            </tr>
        }
    </table>
</div>